.webprofiler__library {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  padding: 0;
  border: var(--card-border-size) solid var(--card-border-color);
  border-radius: var(--card-border-radius-size);
  background-color: var(--card-bg-color);
  box-shadow: var(--card-box-shadow);
  margin-bottom: 10px;
}
