{{ attach_library('webprofiler/libraries') }}

{% for name,library in libraries %}
  <div class="webprofiler__library">
    <div class="webprofiler__card__title">{{ name }}</div>
    <div class="webprofiler__card_content">
      <div>{{ 'Version'|t }}: {{ library.version|default('n/a') }}</div>
      <div>{{ 'License'|t }}: <a href="{{ library.license.url }}">{{ library.license.name|default('n/a') }}</a></div>
      <div>
        {{ 'Dependencies'|t }}:
        {% if library.dependencies|length %}
          <ul>
            {% for dependency in library.dependencies %}
              <li>{{ dependency }}</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ 'none'|t }}
        {% endif %}
      </div>
      <div>
        {{ 'CSS'|t }}:
        {% if library.css|length %}
          <ul>
            {% for css in library.css %}
              <li>{{ css.data }} (version: {{ css.version }}, type: {{ css.type }})</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ 'none'|t }}
        {% endif %}
      </div>
      <div>
        {{ 'JavaScript'|t }}:
        {% if library.js|length %}
          <ul>
            {% for js in library.js %}
              <li>{{ js.data }} (version: {{ js.version }}, type: {{ js.type }})</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ 'none'|t }}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
